<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.sdwu.android02.classroom.sn170507180208">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="赵祺巨02"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"/>
        <activity android:name=".Ch10Activity1" />

        <activity android:name=".Ch10Activity2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.inspur.broadcast"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>